<!DOCTYPE html>
<html>
<head>
	<title>Finalizar contrato</title>
	<script type="text/javascript">
		
	</script>
</head>
<body>
	<form>
		<div>
			<h2>Seu problema será resolvido em breve!</h2><br>			
		</div>
		<div>
			<%= link_to 'Ok', root_path, class: 'btn btn-default' %>
		</div>	
	</form>
</body>
</html>