<nav class="navbar navbar-default" >
  <div class="nav-header">
    <a class="navbar-brand navv" href="#">Eai, conserta?</a>
  </div>
  <div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li class="user">
        <a href="#" class="dropdown-toggle menu-topo-icone" data-toggle="dropdown" title="<%= "Autenticado como #{current_user.email}" %>">
          <i class="glyphicon glyphicon-user"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><%= (current_user.email).truncate(15) %></a></li>
          <li><%= link_to "Alterar Senha", edit_user_registration_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </li>
    </ul>
  </div>  
</nav>
