<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="botao-menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navv" href="#">Store</a>
    </div>
    <div class="collapse navbar-collapse" id="collapse-navbar">

      <ul class="nav navbar-nav navbar-right">
        <li class="user">
          <a href="#" class="dropdown-toggle menu-topo-icone" data-toggle="dropdown" title="<%= "Autenticado como #{current_user.email}" %>">
            <i class="glyphicon glyphicon-user"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><%= (current_user.email).truncate(15) %></a></li>
            <li><%= link_to "Alterar Senha", edit_user_registration_path %></li>
            <li><%= link_to "Sair", destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
